@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        background-image: url('/images/backgroundPattern.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #112530;
    }
}